/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #a4c2d1;
}

h1,
h2 {
  font-family: "DM Serif Display", serif;
  color: #184f63;
}
/* About section */

#about {
  background-color: white;
}

/* Portfolio */

#portfolio {
  background-color: #dbdcde; /* light grey */
}
#portfolio .card-title {
    color: #1f7798; /* mid blue */
    font-size: 1.2rem;
}


/* Contact section */

#contact {
  background-color: white;
}

/* Header */

#hero {
    background-color: #dbdcde; /* light grey */
    background-image: url("../images/portfolio-images/background.webp");
    background-size: cover;
    background-position: 50% 70%;
    min-height: 500px;
    padding: 5% 7%;
}

